{% extends 'flatpages/default.html' %}


{% block title %}
Advert
{% endblock title %}

{% block content %}
    <h3 style="text-align: center;">{{ advert.title }} <br> {{ advert.datetime|date:'d M Y' }}</h3>
    <p style="text-align: center;">{{ advert.content|safe }}</p>
    <p style="text-align: center;">
        {% if user == advert.author.cuser %}
            <a href="{% url 'advert_delete' advert.id %}">Удалить</a>
            <a href="{% url 'advert_update' advert.id %}">Редактировать</a>
            <br>
            <br>
            {% if replies %}
                <p style="text-align: center;">Отзывы</p>
                {% for reply in replies %}
                    <p style="text-align: center;">{{ reply.content|safe }}</p>
                    <p style="text-align: center;">{{ reply.datetime|date:'d M Y' }}, Автор - {{ reply.author.cuser.username }}</p>
                    <a href="{% url 'reply_delete' reply.id %}">Удалить</a>
                    {% if not reply.status %}
                        <a href="{% url 'reply_accept' reply.id %}">Принять</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p style="text-align: center;">Отзывов нет</p>
            {% endif %}
        {% elif user.is_authenticated %}
            <a href="{% url 'reply_add' advert.id %}">Оставить отклик</a>
        {% endif %}
    </p>
{% endblock content %}
